body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  display: flex;
}

/* Pasek boczny */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgb(2, 2, 2);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 90px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: gray;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
}

.menu-item:hover {
  color: white;
}

.menu-item.active {
  background-color: #111;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Dashboard */ 


/* Górne Informacje */ 
.topcards { /* miejsce na kafelki */ 
  display: flex;
  margin-left: 350px;
  margin-top: 50px; 
  gap: 20px;
}

.kafel { /* sam kafel stylizacja */ 
  background-color:  rgb(12, 12, 12);
  width: 200px;
  height: 100px;
  border-radius: 20px;
}

.naglowki {
  font-size: 6px;
  position: absolute;
  margin-left: 370px;
  margin-top: -90px;
  display: flex;
  gap: 100px;
}

.neworders { 
  margin-left: 65px;
}

.newrevenue {
  margin-left:80px;
}

.newvisits {
  margin-left: 72px;
}

.monitor {
  position: absolute;
  width: 25px;
  height: auto;
  margin-left: 360px;
  margin-top: -85px;
}

/* Ikony Kafelki */ 

.customericon {
  width: 13px;
  height: auto; 
  position: absolute;
  margin-top: 9px;
  margin-left: 150px;
}

.ordersicon {
  width: 13px;
  height: auto;
  position: absolute;
  margin-top: 9px;
  margin-left: 370px
}

.revenueicon {
  width: 13px;
  height: auto;
  position: absolute;
  margin-top: 9px;
  margin-left: 590px;
}

.visitsicon {
  width: 13px;
  height: auto;
  position: absolute;
  margin-top: 9px;
  margin-left: 810px;
}

/* Wyniki Kafelkowe */ 

.wynikikafelkowe {
  font-size: 15px;
  color: white;
  position: absolute;
  display: flex;
  margin-left: 370px;
  margin-top: -75px;
  gap: 185px;
}

.visitswynik {
  margin-left: -94px;
}
            

/* Informacje Analitycs */ 

.analitycs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: 50px;
  gap: 40px;
}

.visitors {
  background-color: rgb(12, 12, 12);
  width: 700px;
  height: 370px;
  border-radius: 20px;
  
}

.orders {
  background-color: rgb(12, 12, 12);
  width: 500px;
  height: 370px;
  padding-left: 30px;
  border-radius: 20px;
}


/* In the Last 7 Days */ 

.revenue {
  font-family: sans-serif;
  position: absolute;
  font-size: 12px;
  color: rgb(0, 255, 0);
  margin-left: 370px;
  margin-top: -345px;
  flex: 1;
}

.days {
  position: absolute;
  font-size: 10px;
  color: white;
  margin-left: 915px;
  margin-top: -347px;
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid rgb(0, 255, 0);
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px; 
  padding-right: 25px;
}

.daysicon {
  width: 13px;
  height: auto;
  position: absolute;
  color: white;
  margin-left: 1010px;
  margin-top: -342px;
}

/* Devices */ 

.devices {
  font-size: 12px;
  color: white;
  position: absolute;
  display: flex;
  margin-left: 1120px;
  margin-top: -347px;
}

.daysdevices {
  font-size: 10px;
  color: white;
  position: absolute;
  display: flex;
  margin-left: 1540px;
  margin-top: -350px;
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid rgb(0, 255, 0);
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px; 
  padding-right: 12px;
}

.liczby {
  font-size: 14px;
  color: white;
  position: absolute;
  margin-left: 380px;
  margin-top: -320px;
  line-height: 70px; 
}

.linia {
  display: flex;
  position: absolute;
}

.liniazielona {
  background-color: rgb(0, 255, 0);;
  width: 610px;
  height: 5px;
  margin-top: -30px;
  margin-left: 380px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px rgba(0, 255, 0, 0.5);
}



/* Statystyki Orders */

.ordery {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: 110px;
}

.lastorders {
  background-color: rgb(12, 12, 12);
  width: 550px;
  height: 280px;
  border-radius: 20px;
  margin-top: -60px;
}

.last {
  font-size: 17px;
  position: absolute;
  color: white;
  margin-left: 380px;
  margin-top: -260px;
}

/* kategorie */ 

.kategorie {
  font-size: 12px;
  color: rgb(179, 179, 179);
  display: flex;
  position: absolute;
  margin-left: 380px;
  margin-top: -230px;
  flex: 1;
  gap: 100px;
}

.kategoria2 {
  margin-left: -50px;
}

.kategoria3 {
  margin-left: -40px;
}

.kategoria4 {
  margin-left: -30px;
}

/* Płatności Powiadomienia */ 

.canal {
  font-size: 12px;
  display: flex;
  position: absolute;
  color: #ffffff;
  margin-left: 383px;
  margin-top: -196px;
}

.platnosc {
  font-size: 10px;
  display: flex;
  position: absolute;
  color:  rgb(0, 255, 0);
  margin-left: 463px;
  margin-top: -199px;
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid rgb(0, 255, 0);
  border-radius: 20px;
  padding: 5px;
  padding-left: 7px; 
  padding-right: 7px;
}

.bitcoinicon {
  width: 15px;
  height: auto;
  display: flex;
  position: absolute;
  margin-left: 556px;
  margin-top: -197px;
}

.wyslane {
  font-size: 12px;
  color: white;
  position: absolute;
  margin-left: 575px;
  margin-top: -197px;
  
}

.mail {
  font-size: 12px;
  display: flex;
  color: white;
  margin-left: 650px;
  margin-top: -199px;
}

/* Connection Buttony */ 

.naglowekconnection {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 1000px;
  margin-top: -100px;
}

.linkdiscord {
  font-size: 11px;
  color: rgb(182, 182, 182);
  margin-left: 1000px;
  margin-top: 5px;
}

.discordbutton {
  font-weight: bold;
  color: white;
  border-radius:10px;
  cursor: pointer;
  width: 200px;
  height: 42.66px;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1000px;
  margin-top: -200px;
  position: absolute;
}

button .span-mother {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

button .span-mother2 span {
  transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

button .span-mother2 span {
  transition: 0.2s;
}

button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}









